# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django-specific
*.sqlite3
*.log
*.env
media/
static/

# Virtual environment
venv/
env/
.venv/

# OS or Editor specific files
.DS_Store
*.swp
*.swo
*.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Test and coverage reports
htmlcov/
.coverage

# Database files
*.sqlite3
*.db